{% extends "base.html.twig" %}

{# On hérite du template de base 'base.html.twig' #}

{# On fait appel au block body de 'base.html.twig' #}

{% block body %}

<h1> {{ title }} </h1>
{# {{}} -> doubles accolades, interpolation#}
{# {% %} -> commande TWIG #}

{% if age > 18 %}

    <p>Tu es majeur !!</p>

{% else %}

    <p>Tu es mineur !!</p>

{% endif %}

Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur asperiores corporis obcaecati totam, in quaerat nihil minus maiores. Maiores molestiae aliquid sit atque tempore repellendus veniam minus id! Voluptatem, architecto.
Nemo, incidunt excepturi sed voluptatem exercitationem quisquam fugit ad eum amet porro dicta blanditiis culpa reprehenderit nostrum quos voluptate repudiandae! A sed odit autem quae molestiae beatae quis voluptatem aperiam.
Repellat, quo non earum, necessitatibus harum inventore architecto nam ducimus ab, iure quod minima! Necessitatibus odio earum maiores perspiciatis asperiores voluptatum architecto commodi, quam itaque molestias ipsam debitis, dolor reprehenderit.
Voluptate, doloremque officiis? Minima incidunt unde iusto qui quibusdam, deserunt natus cum similique culpa odit reprehenderit suscipit perspiciatis architecto corrupti. Saepe, ducimus vitae enim eveniet delectus veniam sint natus repellendus!
Perspiciatis ipsum magni rem sit voluptates maiores necessitatibus enim qui, delectus odit labore, beatae, at itaque? Sunt eveniet inventore, quo, quaerat ut eligendi culpa consequuntur atque et repellat illo dolorem.
Laudantium eveniet nemo quidem consequatur, eum iure, voluptatem illo minima, corporis dolorem possimus! Quibusdam repudiandae nobis reiciendis porro perferendis adipisci numquam voluptas tempore fugiat temporibus voluptatum, ab soluta praesentium labore.
Minima culpa fuga ut incidunt, autem quod et dicta eaque sint? Deserunt tempora labore commodi! Hic sunt cumque soluta? Laborum commodi sunt dolor quae asperiores dolorem explicabo at saepe assumenda.
Maxime dolores voluptatum deleniti placeat sequi ex culpa dicta deserunt reprehenderit nesciunt, quia blanditiis corrupti sunt rem fuga minima magni veniam inventore harum. Ullam obcaecati sint quod, vero facere esse.
A ad nisi totam deleniti accusamus delectus quos eveniet, reprehenderit nemo. Soluta commodi repudiandae omnis? Perspiciatis totam recusandae beatae, sapiente, voluptate quod, blanditiis dolorem hic voluptates error id est a.
Aliquam expedita velit similique modi, vero iure? Sed perferendis quibusdam magnam. Vel enim quis earum consequatur autem quidem suscipit sint impedit, repellendus ipsam, quibusdam doloremque, iusto necessitatibus unde eius! Qui.

{% endblock %}